-- CreateTable
CREATE TABLE "Cliente" (
    "id" TEXT NOT NULL,
    "nome" TEXT NOT NULL,
    "meta_ads_account_id" TEXT NOT NULL,
    "criado_em" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "Cliente_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "Usuario" (
    "id" TEXT NOT NULL,
    "nome" TEXT NOT NULL,
    "role" TEXT NOT NULL DEFAULT 'analista',
    "criado_em" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "Usuario_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "Campanha" (
    "id" TEXT NOT NULL,
    "cliente_id" TEXT NOT NULL,
    "nome_gerado" TEXT NOT NULL,
    "objetivo" TEXT NOT NULL,
    "tipo_orcamento" TEXT NOT NULL,
    "criado_em" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "Campanha_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "ConjuntoAnuncio" (
    "id" TEXT NOT NULL,
    "campanha_id" TEXT NOT NULL,
    "nome_gerado" TEXT NOT NULL,
    "publico_alvo" TEXT NOT NULL,
    "formato_midia" TEXT NOT NULL,

    CONSTRAINT "ConjuntoAnuncio_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "Criativo" (
    "id" TEXT NOT NULL,
    "adset_id" TEXT NOT NULL,
    "url_midia" TEXT,
    "texto_principal" TEXT,
    "call_to_action" TEXT,

    CONSTRAINT "Criativo_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "MetricaCampanha" (
    "id" TEXT NOT NULL,
    "campanha_id" TEXT NOT NULL,
    "data" TIMESTAMP(3) NOT NULL,
    "impressoes" INTEGER NOT NULL DEFAULT 0,
    "conversas_leads" INTEGER NOT NULL DEFAULT 0,
    "valor_investido" DECIMAL(65,30) NOT NULL DEFAULT 0.0,
    "faturamento_manual" DECIMAL(65,30) DEFAULT 0.0,
    "cac" DECIMAL(65,30),
    "roas" DECIMAL(65,30),

    CONSTRAINT "MetricaCampanha_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "Relatorio" (
    "id" TEXT NOT NULL,
    "cliente_id" TEXT NOT NULL,
    "url_pdf" TEXT,
    "diagnostico_performance" TEXT,
    "desenvolvimento_algoritmo" TEXT,
    "proximos_passos" TEXT,
    "criado_em" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "Relatorio_pkey" PRIMARY KEY ("id")
);

-- AddForeignKey
ALTER TABLE "Campanha" ADD CONSTRAINT "Campanha_cliente_id_fkey" FOREIGN KEY ("cliente_id") REFERENCES "Cliente"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "ConjuntoAnuncio" ADD CONSTRAINT "ConjuntoAnuncio_campanha_id_fkey" FOREIGN KEY ("campanha_id") REFERENCES "Campanha"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "Criativo" ADD CONSTRAINT "Criativo_adset_id_fkey" FOREIGN KEY ("adset_id") REFERENCES "ConjuntoAnuncio"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "MetricaCampanha" ADD CONSTRAINT "MetricaCampanha_campanha_id_fkey" FOREIGN KEY ("campanha_id") REFERENCES "Campanha"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "Relatorio" ADD CONSTRAINT "Relatorio_cliente_id_fkey" FOREIGN KEY ("cliente_id") REFERENCES "Cliente"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

